body {
  height: 100vh;
  background: linear-gradient(180deg, rgba(146,157,158,1) 0%, rgba(146,157,158,1) 0%, rgba(38,39,40,1) 100%);
}
.App {
  padding-top: 20px;
  font-family: "Roboto";
  text-align: center;
  margin: 0px 20px 0 20px;
  color: white;

  a {
    color: white;
  }

  p {
    text-align: left;
  }

  .tests {
    color: #929D9E;
    background-color: white;
    text-align: left;
    display: grid;
    grid-template-columns: 20% auto  auto auto;
    grid-gap: 1rem;
    padding: 20px;
    box-shadow: 5px 5px 40px -5px rgba(0,0,0,0.65);

    .heading {
      font-size: 18px;
      font-weight: bold;
      color: #7F8688;
    }
    .label, .value, .expectedValue, .result {
      justify-self: start;
    }
    .label {
      text-transform: 'capitalize';
    }

    .result {
      font-weight: 900;
      color: rgb(86, 93, 95);
    }
    .success {
    }
    .failed {
      color: tomato;
    }

    .preformatted {
      white-space: pre;
    }
}

}


